/*
Стиль из шаблона Bootstrap:
    http://getbootstrap.com/examples/navbar-fixed-top/
*/
body {
    padding-top: 70px;
}

.editButton {
    float: right;
}

.catalogTable td {
    text-align: center;
    vertical-align: middle;
}

.table.borderless td {
    border: none;
}

.table.tr-metro-stations-table td {
    vertical-align: middle;
}

    .table.tr-metro-stations-table td:first-child {
        padding-top: 0;
        padding-bottom: 0;
    }

        .table.tr-metro-stations-table td:first-child svg {
            margin-top: -3px;
            margin-bottom: -6px;
        }

    .table.tr-metro-stations-table td:first-child, .table.tr-metro-stations-table th:first-child {
        border: none;
    }

.table.tr-metro-stations-table svg {
    display: block;
    padding: 1px 0 1px 0;
}


.loading-container {
    position: relative;
}

    .loading-container .loading:before, .loading-container .loading:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 50px;
        min-width: 50px;
    }

    .loading-container .loading:before {
        background-color: white;
        background-image: url(../Content/img/ajax-loader.gif);
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
    }


.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: #F5F5F5 !important;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    text-shadow: none;
}
