/*
Стиль из шаблона Bootstrap:
    http://getbootstrap.com/examples/navbar-fixed-top/
*/
body {
  
  padding-top: 70px;
}

.editButton { float:right }

.catalogTable td {
    text-align: center;
    vertical-align: middle;
}