<ng-include src="'/app/views/Navbar.html'"></ng-include>


<ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#/catalog/metrobranches" data-toggle="tab">Линии метро</a></li>
	<li class=""><a href="#/catalog/metro" data-toggle="tab">Станции метро</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade active in" id="/catalog/metrobranches">
		<div>
			<div class="row">
				<div class="col-md-12">
					<div loading-container="tableParams.settings().$loading">
						<table ng-table="tableParams" show-filter="true"
							   class="table table-condensed tr-metro-stations-table" template-pagination="custom/pager">
							<!--table-condensed tr-metro-stations-table-->
							<tbody>
								<tr ng-repeat="branch in $data">
									<td data-title="" style="width:20px;">
										<svg width="20" height="40" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
											<g>
												<rect stroke-width="0" stroke="#000000" fill="{{branch.color}}" id="svg_1" height="40" width="4" y="0" x="8" />
												<circle cx="10" cy="20" r="7.5" stroke="black" stroke-width="0" fill="{{branch.color}}" />
											</g>
										</svg>
									</td>
									<td data-title="'Ветка'" filter="{ 'name': 'text' }" sortable="name" style="white-space: nowrap;">
										<span onbeforesave="checkNotNull($data)" e-placeholder="Название" editable-text="branch.name"
											  e-name="name" e-form="rowform" e-required>
											
											<a class="b-open-maps" target="_blank" href="https://www.google.ru/maps/preview?safe=off&q={{branch.name}} линия метрополитена"><i class="fa fa-map-marker"></i></a>
											<span ng-bind-html="branch.name | highlightFilter:tableParams.filter()['name']"></span>
										</span>
									</td>
									<td data-title="'Цвет'">
										<span editable-text="branch.color"
											  e-name="color" e-form="rowform" e-required e-style="display: none" onshow="stylizeColorInput(this)">
											<div ng-style="{'background-color': branch.color, 'border': 0, 'width': '34px', 'height': '34px'}">&nbsp;</div>
										</span>
										<!--<button colorpicker type="button" ng-style="{'background-color': branch.color, 'border': 0}" colorpicker-position="top" class="btn btn-info" ng-model="branch.color">Change color</button>-->
									</td>
									<td data-title="" style="white-space: nowrap;">
										<!-- form -->
										<form editable-form name="rowform" onaftersave="save(branch, $data)"
											  ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == branch">
											<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
												<i class="glyphicon glyphicon-ok-circle"></i>
											</button>
											<button type="button" ng-disabled="rowform.$waiting" ng-click="cancelEditing(rowform, branch)" class="btn btn-default">
												<i class="glyphicon glyphicon-remove-circle"></i>
											</button>
										</form>
										<div class="buttons" ng-show="!rowform.$visible">
											<button class="btn btn-primary" ng-click="rowform.$show()"><i class="fa fa-cogs"></i></button>
											<button class="btn btn-danger" ng-click="remove(branch)"><i class="glyphicon glyphicon-remove"></i></button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<script type="text/ng-template" id="custom/pager">
						<div class="ng-cloak">
							<table style="width: 100%;">
								<tr style="vertical-align: top;">
									<td style="width: 50%; text-align: left;">
										<ul class="pagination" style="margin: 0;">
											<li ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}" ng-repeat="page in pages" ng-switch="page.type">
												<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;</a>
												<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
												<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
												<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
												<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
												<a ng-switch-when="next" ng-click="params.page(page.number)" href="">&raquo;</a>
											</li>
										</ul>
									</td>
									<td style="width: 50%; text-align: right;">
										<div ng-if="params.settings().counts.length" class="ng-table-counts btn-group pull-right">
											<button type="button" class="btn btn-default disabled">View per page:</button>
											<button ng-repeat="count in params.settings().counts" type="button" ng-class="{active:params.count()==count}" ng-click="params.count(count)" class="btn btn-default">
												<span ng-bind="count"></span>
											</button>
										</div>
									</td>
									<td style="padding-left: 20px;">
										<button class="btn btn-default" ng-click="add()" ng-show="!inserted">Добавить ветку</button>
									</td>
								</tr>
							</table>
						</div>
					</script>
				</div>
			</div>
		</div>
	</div>
</div>