<div class="row">
    <div class="col-md-2">
        <h2>Группы</h2>
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: IsGroupSelected(group.id_toolgroup) }" ng-repeat="group in toolGroups">
                <a href="" ng-click="SelectGroup(group.id_toolgroup);">{{group.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <!-- Директива "loading-container" определена в CatalogMetroStations.js-->
        <div loading-container="tableParams.settings().$loading">
            <table ng-table="tableParams" show-filter="true" class="catalogtable table table-bordered table-hover table-condensed">
                <!-- Поле $data предоставляет библиотека ng-table, уже с учётом фильтрации и выбранной страницы-->
                <tr ng-repeat="tool in $data">
                    <td data-title="'Имя'" filter="{ 'name': 'text' }" sortable="name">
                        <!-- Редактируемое поле таблицы, тип - текст -->
                        <span editable-text="tool.name" e-name="name" e-form="rowform" e-required>
                            {{ tool.name || 'empty' }}
                        </span>
                    </td>

                    <!-- Редактируемое поле таблицы, тип - текст -->
                    <td data-title="'Описание'" sortable="description">
                        <span editable-text="tool.description" e-name="description" e-form="rowform" e-required>
                            {{ tool.description || 'empty' }}
                        </span>
                    </td>

                    <!-- Редактируемое поле таблицы, тип - текст -->
                    <td data-title="'Ставка1'" sortable="rate">
                        <span editable-text="tool.rate" e-name="rate" e-form="rowform" e-required>
                            {{ tool.rate || 'empty' }}
                        </span>
                    </td>
                    
                    <!-- Редактируемое поле таблицы, тип - ComboBox -->
                    <td data-title="'Единица1'" sortable="unit">
                        <span editable-select="tool.unit" e-name="unit" e-form="rowform" e-ng-options="s.unit as s.unit for s in Units">
                            {{ tool.unit || 'empty' }}
                        </span>
                    </td>
                    
                    <!-- Редактируемое поле таблицы, тип - текст -->
                    <td data-title="'Ставка2'" sortable="rate_sec">
                        <span editable-text="tool.rate_sec" e-name="rate_sec" e-form="rowform" e-required>
                            {{ tool.rate_sec || 'empty' }}
                        </span>
                    </td>
                    
                    <!-- Редактируемое поле таблицы, тип - ComboBox -->
                    <td data-title="'Единица2'" sortable="unit_sec">
                        <span editable-select="tool.unit_sec" e-name="unit_sec" e-form="rowform" e-ng-options="s.unit as s.unit for s in Units">
                            {{ tool.unit_sec || 'empty' }}
                        </span>
                    </td>
                    
                    <!-- Редактируемое поле таблицы, тип - ComboBox -->
                    <td data-title="'Группа'">
                        <span editable-select="tool.id_toolgroup" e-name="id_toolgroup" e-form="rowform" e-ng-options="e.id_toolgroup as e.name for e in toolGroups">
                            {{ getGroupName(tool.id_toolgroup) }}
                        </span>
                    </td>
                    
                    <!-- Кнопки редактирования -->
                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveTool($data, tool.id_tool)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                Сохранить
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                Отмена
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">Править</button>
                            <button class="btn btn-danger" ng-click="removeTool(tool.id_tool)">Del</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>