<div ng-controller="CatalogNaturalPersonsController">
    <table class="catalogTable table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:35%">Имя</td>
            <td style="width:20%">Id</td>
        </tr>
        <tr ng-repeat="person in naturalPersons">
            <td>
                {{ person.name || 'empty' }}
            </td>
            <td>
                <a href="#/catalog/naturalpersons/{{person.id_naturalperson || 'empty' }}">
                    {{ person.id_naturalperson || 'empty' }}
                </a>
            </td>
        </tr>
    </table>
</div>