<div class="customerOrders view">
    <div class="container">
        <header>
            <h3>Карточка 1: Добавление заказа</h3>
        </header>
        
        <div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="indent">
                        <h4>Id заказа: {{ Order.Id }}</h4>
                        <br />
                        <br /><br />
                    </div>
                </div>                
                <div class="col-sm-9">
                    <div class="indent">
                        <h4>Пользователь:</h4>
                        
                         <select ng-model="Author" ng-options="c.lastName + ' ' + c.firstName + ' ' + c.lastLastName for c in Users" class="input-xlarge input-sm"></select>
                        <br /><br />
                    </div>
                </div>                
                <br /><br />
                <div class="span12">
                    <!--<div data-ng-include="'/app/partials/ordersTable.html'" />-->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Данные по клиенту</h3>
                        </div>
                        <div class="panel-body">
                            Название клиента
                            <br />
                            <div class="input-append">
                            <select ng-model="Client" ng-options="c.Name for c in Clients" class="form-control input-sm"></select>
                            </div>
                            <br />
                            
                            <div ng-Show="Client.Id == -1"> <!-- Если выбрано поле "Новый клиент", у него Id = -1 -->
                                <input type="text" ng-model="NewClientName" class="form-control input-sm"/>
                                <br />
                            </div>
                            <input type="checkbox" ng-model="IsInHolding">Входит в холдинг <br />
                            <select ng-model="Client.Holding" ng-options="c.Name for c in Holdings" ng-Show="IsInHolding" class="form-control input-sm"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Заказчик</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Контактное лицо</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
